<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Test</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>
<body>
<h1>List result</h1>
<!---->
<br/><br/>
<div>
    <form action="/result" method="post">
        <fieldset>
            <legend>Search by id</legend>
            <input type="text" name="replace" placeholder="replace"/>
            <input type="text" name="input" placeholder="input"/>
            <textarea rows="20" cols="80" name="data">... </textarea>
            <input type="submit">
        </fieldset>
    </form>

</div>
</body>
</html>